<!DOCTYPE html>
<html>
<head>
    <title>Login to Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
<div class="container">
    <a href="<?=$loginUrl?>" class="facebook">Login with Facebook</a>
</div>
</body>
</html>